PORT=3001
CLIENT_ORIGIN=http://localhost:5173,https://www.refynenergy.com,https://refynenergy.com
GOOGLE_APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbyIKtcjpJTcuiawt-lN81sEfLpr5-Fgq2gPo68xCoMcowgJCKbVBen_dFoSjCoPoLY/exec
GOOGLE_APPS_SCRIPT_SECRET=replace-with-your-apps-script-secret
REQUEST_TIMEOUT_MS=10000
